<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Guest Manage</title>
</head>
<body role="document">
<!-- 导航栏 -->
<nar class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/event_manage/">发布会</a></li>
                <li class="active"><a href="#">嘉宾</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user }}</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div>
    </div>
</nar>

<!-- 嘉宾列表 -->
<div class="row" style="padding-top: 80px;">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>名称</th>
                <th>手机</th>
                <th>Email</th>
                <th>签到</th>
                <th>发布会</th>
            </tr>
            </thead>
            {% for guest in guests %}
            <tr>
                <th>{{ guest.id }}</th>
                <th>{{ guest.realname }}</th>
                <th>{{ guest.phone }}</th>
                <th>{{ guest.email }}</th>
                <th>{{ guest.sign }}</th>
                <th>{{ guest.event }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!-- 列表分页 -->
<div class="pagination">
    <span class="step_links">
        {% if guests.has_previous %}
        <a href="?page={{ guests.previous_page_number }}">previous</a>
        {% endif %}
            <span class="current">
                Page {{ guests.number }} of {{ guests.paginator.num_pages }}. Count {{ guests.paginator.count }} records
            </span>
        {% if guests.has_next %}
        <a href="?page={{ guests.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>